<template>
  <div class="container">
    <h1>ANASAYFA</h1>
    <div class="row">
      <ArticleItem :article="{title: 'EMRAH BALCI', description: 'AÇIklama 1'}" />
      <ArticleItem :article="{title: 'EMRAH BALCI 2', description: 'AÇIklama 2'}" />
      <ArticleItem :article="{title: 'EMRAH BALCI 3', description: 'AÇIklama 34'}" />
      <ArticleItem :article="{title: 'EMRAH BALCI 4', description: 'AÇIklama 5'}" />
    </div>
  </div>
</template>

<script>
import ArticleItem from '../components/ArticleItem';
export default {
  name: 'HomePage',
  components : {
    ArticleItem
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
