<template>
  <div class="article-preview col-xs-12 col-sm-6 col-md-3">
    <router-link
      :to="{name: 'article', params: {'slug': 1}}"
      class="preview-link">
      <h1>{{article.title}}</h1>
      <p>{{article.description}}</p>
      <span>Read more...</span>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'ArticleItem',
  props: {
    article: { type: Object, required: true }
  }
}
</script>

<style>
</style>