<template>
  <div id="app">
    <Header />
    <main>
      <router-view/>
    </main>
    <Footer />
  </div>
</template>

<script>
import Header from './common/Header';
import Footer from './common/Footer';
export default {
  name: 'App',
  components: {
    Header,
    Footer
  },
}
</script>
<style>
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
</style>
<style>
main {
  position: relative;
  min-height: 600px;
  margin-top: 75px;
}
.container {
  position: relative;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
