<template>
  <footer class="footer">
    <div class="container">
      <div class="row">
      <button v-on:click="toggleLogin">DEĞİŞ TOKUŞ</button>
      <div class="col-xs-12 col-md-4 offset-md-3 text-md-right">
        <router-link to="/" class="logo"><img src="../assets/logo.png" alt="Prosolup"></router-link>
      </div>
      <nav class="col-xs-12 col-md-4" id="footerMenu" v-if="isLogin">
        <ul>
          <li>
            <router-link to="/about">Team of Service</router-link>
          </li>
          <li>
            <router-link to="/faq">FAQ</router-link>
          </li>
        </ul>
      </nav>
    </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {
      isLogin: false
    }
  },
  methods: {
    toggleLogin() {
      this.isLogin = true;
    }
  }
}
</script>

<style scoped>
.footer {
  position: relative;
  background: #fff;
  z-index: 98;
  height: 72px;
}
.footer .logo img {
  height: 40px;
}
#footerMenu ul {
  margin: 0;
  padding: 0;
}
#footerMenu ul li {
  display: inline-block;
  margin: 0 10px;
}
#footerMenu ul li a {
  font-size: 14px;
  font-weight: 700;
  color: #98a0a6;
  padding: 0 20px;
  line-height: 26px;
}
</style>
