<template>
  <header class="header">
    <div class="container">
      <router-link to="/" id="logo"><img src="../assets/logo.png" alt="Prosolup"></router-link>
      <nav id="mainMenu">
        <ul>
          <li>
            <router-link to="/benefits">Benefits</router-link>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <router-link to="/faq">FAQ</router-link>
          </li>
          <li>
            <router-link to="/about" class="login">Login</router-link>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style scoped>
.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 99;
}
#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#logo img {
  height: 40px;
}
#mainMenu {
  float: right;
  margin-top: 15px;
}
#mainMenu ul li {
  display: inline-block;
  margin: 0 10px;
}
#mainMenu ul li a {
  font-size: 14px;
  font-weight: 700;
  color: #98a0a6;
  padding: 0 20px;
  line-height: 26px;
}
#mainMenu ul li a.login {
  color: #fff;
  background-color: #507bfc;
  box-shadow: 0 5px 10px 0 rgba(80, 123, 252, 0.5);
  border-radius: 100px;
}
</style>
